<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Blog dla programistów</title>
    </head>
    <body>
        <div>
            <h1>Witam na stronie bloga!</h1>
            <h2>Blog o programowaniu</h2>
            <h3>Autor: JP</h3>
            <h4>Wszelkie prawa zastrzeżonę</h4>
        </div>
        <div>
            <p>To jest akapit</p>
            <em>To jest wyróżniony text</em><br>
            <strong>Tu jest pogrubiony text</strong><br>
            <a href="https://strefakursow.pl">LINK</a>
        </div>
        <div>
            <ul>
                <li>Elementy listy</li>
                <li>Elementy listy</li>
                <li>Elementy listy</li>
            </ul>
        </div>
    </body>
</html>